:root{
    --primarycolor : #ff274b;
   --secondarycolor : #f7bcf7 ;
   --lightcolor : #FFFFFF;
   --bgcolor-1 : #171a1c;
   --bgcolor-2 : #22282a ;
   --padding : 8%;

}


*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightcolor);
}


.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
    display: flex;
    flex-direction: column;
}

span{
    color: var(--primarycolor);
}
p{
    color: var(--secondarycolor);
    letter-spacing: 1px;
    line-height: 1.8rem ;
    font-size: 1rem;
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

nav{
    
    padding-top : 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a{
    color: var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}


nav ul li a:hover{
    color: var(--primarycolor);
}

.btn{ background-color: var(--primarycolor);
color: var(--lightcolor);
text-decoration: none;
font-weight: bold;
padding: 0.81rem 1.87rem;
border-radius: 30px;
transition: 0.4s;
border: 2px solid transparent        }

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primarycolor);


}

.contant{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteinar-texts{
    position: relative;
    bottom: 70px;
}

h1{font-size: 4.65rem;
    margin: 1.7rem 0;
    
}

h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

h4{ 
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: #f7bcf7;
}

.social{
    margin-top: 3.5rem;

}

.social img {
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover{
transform: scale(1.2);
} 



   
.about{
    background-color: var(--bgcolor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about .conteinar-imgs{
    width: 40%;
}

.about .conteinar-imgs img{
    width: 90%;
}

.about .conteiner-texts {
    width: 35%;
}


.services{
    background-color: var(--bgcolor-1);
    padding: 2rem var(--padding);
    
}

.text-center{
    text-align: center;
}

.box{
    display: flex;
    justify-content: space-between;

}
.card{
    width: 300px;
    background-color: var(--bgcolor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}
.card i{
    font-size: 3.12rem;
text-align: center;
color: var(--primarycolor);
margin: 2rem;
}
form{
    background-color:#22282a  ;
    padding: 30px;
}
